nav-link:hover {
    color: #575af5;
}



@media screen and (min-width: 825px) {
    .search_sm {
        
    }
    .medi_sm {
        font-size:  4px;
    }

    
}

@media screen and (min-width: 380px) {
    .search_sm {
        
    }
    .medi_sm {
        font-size:  4px;
    }

    
}